.navbar {
  background-color: #f1f5fa !important;
  width: 85% !important;
  border-radius: 10px;
  border: 2px solid #fff;
}

.nav-custom {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 0.1%; */
  padding: 10px 0px;
}

input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: #eee !important;
}

.dropdown a {
  background: transparent !important;
  color: black !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

@media only screen and (max-width: 480px) {
  .justify-content-start {
    justify-content: center !important;
  }
}
